body {
  background: url(stardust.png);
}

.terminal {
  margin: 50px auto;
  max-width: 640px;
  width: 95%;
  height: 320px;
  box-shadow: 0 0 35px 0 #222;
  border-radius: 4px;
}

.titlebar {
  background: linear-gradient(rgb(227, 227, 227), rgb(206, 206, 206));
  width: 100%;
  height: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tabs {
  height: 20px;
  background: rgb(181, 181, 181);
  border-bottom: 1px solid rgb(150, 150, 150);
  border-top: 1px solid rgb(180, 180, 180);
  font-size: 11px;
  font-family: "Helvetica Neue", sans-serif;
  color: rgb(59, 59, 59);
}

.tabs span {
  display: block;
  height: 100%;
  width: 50%;
  float: left;
  padding: 3px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.tabs span.active {
  background: rgb(209, 209, 209);
}

.tabs span:first-child {
  border-right: 1px solid rgb(150, 150, 150);
}

.btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 4px;
  border: 1px solid black;
  display: block;
  float: left;
  margin-left: 8px;
}

.btn.yellow {
  background: rgb(255, 185, 24);
  border-color: rgb(218, 149, 22);
}

.btn.red {
  background: rgb(255, 86, 79);
  border-color: rgb(219, 61, 56);
}

.btn.green {
  background: rgb(37, 198, 58);
  border-color: rgb(18, 161, 38);
}

.body {
  font-family: monospace;
  color: white;
  padding: 8px;
  background: black;
  height: calc(100% - 20px);
  word-wrap: break-word;
  box-sizing: border-box;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.body .output.error {
  color: red;
}

.body .label {
  color: cyan;
  margin-bottom: 4px;
}

.body .input {
  height: 35%;
  outline: none;
  border-bottom: 1px solid white;
}

.body #output {
  height: 65%;
}

.body .input, .body #output {
  overflow-y: auto;
}
